/*css for products*/
/*body and html*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* Black Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 16px;    
  }
  
  li {
    float: left;
  }
  
  li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /* White Bar*/
w_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 20px;    
  }

  w_li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    li a:hover {
    background-color: #111;
  }

/*Grey header*/
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  
  .hero-wrapper{
    padding: 8rem;
    background-color: grey;      
    background-position: center;
    display: flex;
    justify-content: center;
    color:white;
    font-size:24px;
  }
  
  .hero-wrapper-squared{
    display:block;
  }

  /*Products*/
  .product-filter {
    display: flex;
    padding:12px;
  }
  .product-filter h1 {
    flex-grow: 1;
    font-family: 'Segoe ', Tahoma, Geneva, Verdana, sans-serif;
  }
  .sort {
    display: flex;
  }
  .collection-sort {
    display: flex;
    flex-direction: column;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card {
    /* border-style: solid;
    border-color: red; */
    border-radius:12px;
    margin-right: 12px;
    margin-top: 6px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 1%;
    flex-grow: 1;
    /* changing row amount with flexbox
    flex-basis: 10*/
    flex-basis: 24%;
    display: flex; /* so child elements can use flexbox stuff too! */
}
  .product-card:hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  }
  .product-image img {
    max-width: 100%;
  }
  .product-info {
    margin-top: auto;
    position: relative;
  }
  .product-page{
      text-decoration: none;
      color: #111; /*when click we don't want purple already visited link*/
  }
  @media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  }
  
  
.product-container{
    color:red;
}
  